.page-main {
  padding-top: 5%;
}

.page-main__counter {
  padding-bottom: 3%;
  font-weight: 600;
  font-size: 20px;
}

.page-main__enter-100g {
  margin-bottom: 3%;
}

.page-main__enter-all {
  margin-bottom: 3%;
}

.page-main__container-btn {
  display: flex;
  justify-content: center;
}

.page-main__btn {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  margin-top: 5%;
  color: #fff;
  background: rgb(41, 41, 41);
}

.page-main__btn:hover {
  background-color: #c22fae8f;
  transition: background-color 0.3s;
}
